<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <!-- <arg name="world_name" value="$(find elevator_plugin)/world/hospital_elevator.world"/> -->
      <arg name="world_name" value="$(find elevator_plugin)/world/working_model_hospital_wip.world"/>
    <!-- more default parameters can be changed here -->
  </include>
</launch>